###############################################################################
#  @author       :  Rohan Kapoor
#  @date         :  10/14/2018
#  @package      :  Security
#  @description  :  Controls cameras, locks and other security devices
###############################################################################
---
homeassistant:
  customize:
    ################################################
    ## Node Anchors
    ################################################

    package.node_anchors:
      customize: &customize
        package: 'security'

ffmpeg:
  ffmpeg_bin: /usr/bin/ffmpeg

stream:

script:
  enable_glass_break_sensors:
    sequence:
      - action: zwave_js.multicast_set_value
        data:
          command_class: 112
          endpoint: 0
          property: 11
          value: 1
          device_id: >
            {{
            set(states
                | map(attribute='entity_id')
                | map('device_id')
                | reject('none')
            )
              | select('is_device_attr','model','Glass Break Sensor')
              | select('is_device_attr','manufacturer','Ring')
              | list
            }}
          # entity_id: >
          #   {{integration_entities('zwave_js')
          #      | select('is_device_attr','model','Glass Break Sensor')
          #      | select('is_device_attr','manufacturer','Ring')
          #      | reject('is_hidden_entity')
          #      | select('match', 'binary_sensor.')
          #      | select('search', 'intrusion')
          #      | list
          #   }}

  disable_glass_break_sensors:
    sequence:
      - action: zwave_js.multicast_set_value
        data:
          command_class: 112
          endpoint: 0
          property: 11
          value: 0
          device_id: >
            {{
            set(states
                | map(attribute='entity_id')
                | map('device_id')
                | reject('none')
            )
              | select('is_device_attr','model','Glass Break Sensor')
              | select('is_device_attr','manufacturer','Ring')
              | list
            }}

automation:
  - id: d69e14ae-1236-4948-8084-bc162861cbcf
    alias: Show Front Door Lock Status
    description: Utilizes a blueprint to show the Front Door Lock Status on an Inovelli LZW30 Switch
    use_blueprint:
      path: rohankapoorcom/inovelli-vzw31-sn-red-series-lock-notifications.yaml
      input:
        lock_entity: lock.front_door_lock
        zwave_device: 64a4dd14224033fa4119a7b1cb66d888

  - id: ff131bcc-1a3b-4e2f-adf9-4e92eb98260b
    alias: Show Side Door Lock Status
    description: Utilizes a blueprint to show the Side Door Lock Status on an Inovelli LZW30 Switch
    use_blueprint:
      path: rohankapoorcom/inovelli-lzw30-black-series-lock-notifications.yaml
      input:
        lock_entity: lock.side_door_lock
        zwave_device: ae0519b39c8bb3cbe6123a6bb612d2d3

  - id: 96d57252-86bb-44c7-b6b0-926257312296
    alias: Show Garage Door Lock Status
    description: Utilizes a blueprint to show the Garage Door Lock Status on an Inovelli VZM31-SN Dimmer Switch
    use_blueprint:
      path: rohankapoorcom/inovelli-vzm31-sn-blue-series-lock-notifications.yaml
      input:
        lock_entity: lock.garage_door_lock
        inovelli_switch: cd886aa54686a23eb0ef9ea9a5fb0d20

  - id: 278143dd-38fe-41db-bf51-d54369e3ae32
    alias: Turn on Downstairs Hallway Lights when Garage Door Unlocked
    description: Utilizes a blueprint to turn on the Downstairs Hallway Lights when the Garage Door Lock is Unlocked
    use_blueprint:
      path: rohankapoorcom/lock-light-controls.yaml
      input:
        lock_entity: lock.garage_door_lock
        light_entity: light.downstairs_hallway_lights

  - id: 5879e67e-712b-4770-b2b6-f9b77d5b789c
    alias: Turn on Downstairs Hallway Lights when Side Door Unlocked
    description: Utilizes a blueprint to turn on the Downstairs Hallway Lights when the Side Door Lock is Unlocked
    use_blueprint:
      path: rohankapoorcom/lock-light-controls.yaml
      input:
        lock_entity: lock.side_door_lock
        light_entity: light.downstairs_hallway_lights

  - id: '1652658055419'
    alias: Smoke & CO Alarm Notifications
    description: 'Notify when Smoke or Carbon Monoxide is Detected'
    triggers:
      - id: smoke_detected
        trigger: state
        entity_id: binary_sensor.fire_alarm
        to: 'on'

      - id: co_detected
        trigger: state
        entity_id: binary_sensor.co_alarm
        to: 'on'

    actions:
      - action: noonlight.create_alarm
        data:
          action: fire
      - choose:
          - conditions:
              - condition: trigger
                id: smoke_detected
            sequence:
              - action: notify.rohan_kapoor
                data:
                  title: Smoke Alarm Triggered
                  data:
                    channel: Alarm
                    importance: max
                    visibility: public
                  message: The smoke alarm has triggered at Home
          - conditions:
              - condition: trigger
                id: co_detected
            sequence:
              - action: notify.rohan_kapoor
                data:
                  title: Carbon Monoxide Alarm Triggered
                  data:
                    channel: Alarm
                    importance: max
                    visibility: public
                  message: Carbon monoxide has been detected at Home
    mode: single

  - id: bdc4b839-39e7-4e6a-8b04-878647d1270b
    alias: Downstairs Ring Keypad Automations
    description: Synchronize the downstairs ring keypad with alarmo.
    use_blueprint:
      path: ImSorryButWho/synchronize-ring-alarm-keypad-v2-with-alarmo.yaml
      input:
        keypad: c8f2c33548a267c7bd17de411ed9ecf3
        alarm: alarm_control_panel.alarmo

  - id: a6a0c700-14b9-43ff-89d7-9da4c9caf152
    alias: Upstairs Ring Keypad Automations
    description: Synchronize the upstairs ring keypad with alarmo.
    use_blueprint:
      path: ImSorryButWho/synchronize-ring-alarm-keypad-v2-with-alarmo.yaml
      input:
        keypad: c1097ff8e9f27f0d3f40426884851370
        alarm: alarm_control_panel.alarmo

  - id: 104f65d6-7995-4eeb-a24a-88ffb47e7988
    alias: Control Glass Break Sensors
    description: 'To save battery power, enable glass break sensors only when armed'
    triggers:
      - trigger: state
        entity_id:
          - alarm_control_panel.alarmo
    actions:
      - delay: "{{ state_attr('alarm_control_panel.alarmo', 'delay') | int(30) }}"
      - choose:
          - conditions:
              - condition: state
                entity_id: alarm_control_panel.alarmo
                state:
                  - armed_home
                  - armed_away
            sequence:
              - action: script.enable_glass_break_sensors
          - conditions:
              - condition: state
                entity_id: alarm_control_panel.alarmo
                state: disarmed
            sequence:
              - action: script.disable_glass_break_sensors
    mode: restart
